<footer class="footer">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-xs-12">
        <img src="{{ site.baseurl }}/img/EC-H2020.png"
             class="img-responsive"
             alt="Horizon 2020 Logo">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center text-muted">
        <small>
          This project has received funding from the European Union’s Horizon
          2020 research and innovation programme under grant agreement No
          700199.<br>The information contained in this website reflects only the
          authors’ view. REA and EC are not responsible for any use that may
          be made of this information
        </small>
        </p>
      </div>
    </div>
  </div>
</footer>
