<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="padding:10px;"
         href="{{ site.baseurl | append: '/' }}"
         title="{{ site.title }} Home Page">
		 <img style="max-height: 100%;" alt="{{ site.title }}" src="{{ 'shield_navbar.png' | prepend: '/img/logo/' | prepend: site.baseurl }}"/>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
{% for item in site.data.nav %}
  {% assign section = item[0] %}
  {% assign subsections = item[1] %}
  {% assign section_url = section | prepend:"/" | append:"/" %}
  {% assign section_page = site.pages | where:"url", section_url | first %}
  {% if (page.url contains section_url) %}
    {% assign link_class = 'active' %}
  {% else %}
    {% assign link_class = '' %}
  {% endif %}
  {% if section_page.title %}
    {% if subsections %}
        <li class="dropdown {{ link_class }}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">
            {{ section_page.title}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
      {% for subsection in subsections %}
        {% assign subsection_url = subsection | prepend:section_url | append:".html" %}
        {% assign subsection_page = site.pages | where:"url", subsection_url | first %}
        {% if subsection_page.title %}
            <li>
              <a href="{{ subsection_url | prepend: site.baseurl }}">
                {{ subsection_page.title }}
              </a>
            </li>
        {% endif %}
      {% endfor %}
          </ul>
        </li>
    {% else %}
        <li class="{{ link_class }}">
          <a href="{{ section_url | prepend: site.baseurl }}">
            {{ section_page.title }}
          </a>
        </li>
    {% endif %}
  {% endif %}
{% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
