---
title: Consortium
layout: page
---

<p>The SHIELD consortium is composed of 11 partners around Europe, well
distributed between legal bodies, private companies, large corporations, and
research and academic partners. The diversity of expertise within SHIELD is
essential in order to achieve the technological challenges of the project.
</p>
<br/>
<ul class="media-list">
{% assign partners = site.partners | sort:"weight" %}
{% for partner in partners %}
<li class="media">
	<div class="media-left">
		<a href="{{ partner.url | prepend: site.baseurl }}" title="Go to &quot;{{ partner.title | escape_once }}&quot; page">
			<img class="media-object"
				src="{{partner.partner | append: '.png' | prepend: '/img/thumbnails/' | prepend: site.baseurl }}"
				alt="{{partner.title}} logo"
				title="Logo of &quot;{{partner.title}}&quot;"/>
		</a>
	</div>
	<div class="media-body">
		<a href="{{ partner.url | prepend: site.baseurl }}"
		title="Go to &quot;{{ partner.title | escape_once }}&quot; page">
			<h4>{{partner.title}}
			{% if partner.role %}
			 - <strong>{{partner.role}}</strong>
			{% endif %}
			</h4>
		</a>
		{{ partner.excerpt | truncate:300 }}
	</div>
</li>
{% endfor %}
</ul>
