---
layout: default
---

<div class="row">
  <div class="col-sm-9 col-xs-12">
    <article>
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
    </article>
  </div>
  <div class="col-sm-3 col-xs-12 text-muted" style="font-size: 85%">
    <h4>Other partners...</h4>
{% assign news_items = site.partners %}
{% for news in news_items %}
    <h5>
      <a href="{{ news.url | prepend: site.baseurl }}">{{ news.title | scape }}</a>
    </h5>
  {{ news.excerpt | truncate:100 }}
{% endfor %}
  </div>
</div>
